{% extends 'base.admin.html.twig' %}

{% block body %}
    {% if records|length %}
        <div class="row">
            <div class="col-xs-12">
                <table id="parameters" class="table table-striped">
                    <th>{{ "parameter.name" | trans | capitalize }}</th>
                    <th>{{ "parameter.value" | trans | capitalize }}</th>
                    <th>{{ "parameter.lastmodification" | trans | capitalize }}</th>
                    <th>{{ 'parameter.update' | trans | capitalize }}</th>
                    <th>{{ 'parameter.delete' | trans | capitalize }}</th>
                    {% for param in records %}

                        <tr class="parameter" id="parameter_{{ param.id }}">
                            <td>
                                {{ param.name }}
                            </td>
                            <td>
                                {% if(param.isImage) %}
                                    <img src="{{ path_upload }}{{ param.value }}" \>
                                {% else %}
                                    {{ param.value }}
                                {% endif %}
                            </td>
                            <td>
                                {{ param.lastmodification | localizeddate }}
                            </td>
                            <td><a href="{{ url("app.admin.parameter.form.update", { "id" : param.id }) }}" class="btn btn-info">{{ 'parameter.update' | trans | capitalize }}</a></td>
                            <td><a href="{{ url("app.admin.parameter.form.delete", { "id" : param.id }) }}" class="btn btn-danger">{{ 'parameter.delete' | trans | capitalize }}</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}

    <a href="{{ url("app.admin.parameter.form") }}" class="btn btn-add">{{ 'parameter.add' | trans | capitalize }}</a>

    {% for message in app.session.flashbag.get('notice') %}
        <p class="alert alert-success">
            {{ message }}
        </p>
    {% endfor %}
    {% for message in app.session.flashbag.get('error') %}
        <p class="alert alert-fail">
            {{ message }}
        </p>
    {% endfor %}
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}


Ils lisent tous The Economist, le Financial Times, le New York  Times et Le Monde, participent aux mêmes séminaires et aux mêmes congrès, vont en vacances aux mêmes endroits, se marient entre eux et se congratulent les uns les autres d’être arrivés là où en sont par l’intermédiaire des media ou ils publient de nombreux papiers pour expliquer, comme ce brave Pangloss juste avant la Révolution française, que nous vivons dans le meilleur des mondes.

Comme dans la parabole du pharisien et du publicain, dans toute cérémonie officielle, ils s’assoient toujours au premier rang tandis que le pauvre publicain, c’est à dire vous et moi, avons le droit de nous mettre au dernier rang à condition de ne pas trop nous montrer et de ne pas sentir trop mauvais et bien sûr, à condition aussi que nous payions la note.

Bien entendu, ils sont favorables à une immigration de masse qui leur permet de payer très peu les nounous pour leurs enfants, les jardiniers pour leurs propriétés ou les chauffeurs pour emmener leurs enfants à l’école.

Cette superclasse domine le monde de la politique et des affaires depuis vingt-cinq ans, c’est-à-dire depuis la chute du mur de Berlin, sans interruption. Avant, ils faisaient attention tant les débiles en dessous auraient pu voter communistes.

Les carabistouilles de l’hyperclasse
Hélas pour eux, cette classe, au sens marxiste du terme, vient de ramasser quelques solides raclées lors des dernières consultations électorales telles la déroute du Brexit, le triomphe de Trump ou la déculottée du dernier référendum italien. Et du coup notre classe de génies s’est rendu compte que le peuple n’était plus dupe de leurs mensonges et qu’il fallait trouver autre chose. Et comme ils sont beaucoup moins malins qu’ils ne le pensent, les moyens qu’ils utilisent pour essayer de conserver leur monopole sur le pouvoir sont complètement prévisibles et transparents de naïveté. J’ai donc pensé qu’il serait intéressant que je fasse une petite recension de leurs carabistouilles. Mon but est très simple: je veux lancer un jeu facile et tout d’exécution.

Quand vous entendrez l’une de ces éminences se lancer dans une explication visant à le faire élire ou réélire, il faudra reconnaître le numéro de la carabistouille et en faire part aux autres lecteurs, en expliquant sur quel sentiment nos héros essaient de jouer pour inciter les auditeurs à voter pour eux. Les entrées reconnues comme valides auront droit à un livre gratuit parmi ceux que je réédite.

Voici donc les carabistouilles rangées sans ordre particulier.

Numéro 1: Vous qui êtes intelligents et qui faites quasiment partie de la super classe vous ne POUVEZ pas voter avec ces demeurés? On fait appel ici à deux ressorts, l’envie d’appartenir et la peur d’être confondu avec les crétins du bas. Cela marche très bien avec les demi-intellectuels qui bossent dans les media ou dans l’éducation.

Numéro 2: si vous expliquez que dans le fond vous aimez bien votre pays, l’on vous rétorque qu’Hitler aussi aimait le sien. C’est ce que j’appelle la « réduction ad hitlerum » et cela marche parfaitement dans tous les débats télévisés. L’idée est de vous couvrir de honte pour que vous vous taisiez à jamais, le principe étant celui de l’excommunication pratiquée autrefois avec beaucoup de succès par l’Eglise catholique. Ça a fonctionné à la satisfaction générale quand la superclasse avait le monopole des media, ça ne marche plus depuis que tous les exclus se parlent les uns aux autres par internet et se rendent compte qu’ils sont une majorité. Dans un monde où il n’y a que des Protestants, être excommunié par l’Eglise Catholique n’est pas très grave.

Numéro 3: depuis l’an 2000 c’est-à-dire bien avant que le FN ne le dise, je dis à qui veut l’entendre que l’euro est un désastre et qu’il va disparaitre. Voilà une preuve irréfutable que je suis un partisan du FN et que donc je n’ai pas le droit à la parole dans une société civilisée. La méthode ici est très simple: les surhommes pensent qu’ils contrôlent le « logos » (voir mon récent article sur le sujet). C’est donc eux qui décident de ce qui peut ou ne peut pas être discuté dans la société. Il s’agit ici d’une forme de censure non déguisée, appuyée sur le principe d’autorité qui d’après Saint Thomas d’Aquin est irrecevable lors d’une discussion entre gens normaux.

« La question ne sera pas posée » comme le disait l’avocat général au moment de l’affaire de Panama.  Deux remarques içi: je ne leur ai donné aucune autorisation pour monopoliser l’ordre du jour de ce qui peut ou ne pas être discuté et ensuite je ne vois pas ce qui leur permet d’exclure trente pour cent de la population du débat publique. Il faudrait que quelqu’un informe mes surhommes qu’ils ne contrôlent plus le Logos.

Numéro 4: vous qui êtes un homme pragmatique (ce qui veut dire malhonnête en bon français), rejoignez-nous. Nous contrôlons tous les media, toutes les universités, nous vous nommerons à la commission d’éthique de la fédération française de pétanque ou de chasse,vous serez invité à faire des voyages d’études en Polynésie ou à la Martinique en hiver, vous  aurez votre tabouret à la télévision où vous direz bien sur ce que l’on vous a dit de dire et vous ferez la fierté de votre quartier. Ça, c’est tout simplement de la corruption et croyez moi, ça marche très bien surtout avec les journalistes officiels ou non.

La Numéro 5 est de loin la plus subtile. Les pouvoirs souterrains qui nous gouvernent préparent longtemps à l’avance l‘arrivée d’un homme «nouveau», sans histoire personnelle, sans aucune idée à lui, dont nul ne sait d’où il vient, et cet homme se présente aux élections et est élu triomphalement. Comme chacun des lecteurs s’en est rendu compte, du moins je l’espère, je fais allusion ici à monsieur Obama, créature forgée de toutes pièces par le parti Démocrate dont nul se souvient à Columbia où il a fait soit disant ses études, personne ne sachant qui les a payé au demeurant, son dossier à l’université étant bloqué pour cinquante ans, sans que nul ne sache pourquoi. Bien que ne s’étant jamais présenté à une élection concurrentielle et n’ayant jamais exercé la moindre responsabilité il fût élu président des USA en ne débitant que des platitudes. Et cette élection permit à ma superclasse de rester au pouvoir et ce continuer à tondre les moutons tranquillement. Chacun se rend compte cependant, huit ans après, que cela faisait des années que la marionnette était sculptée jusque dans ses moindres détails et qu’il fallait être idiot pour croire qu’une idole représentait une solution.

Je tiens à préciser ici que toute ressemblance avec monsieur Macron n’est en rien le fait du hasard. Le parti socialiste est en train d’essayer de rééditer en France le coup Obama en remplaçant Obama par Macron. Voter pour monsieur Macron, c’est bien évidemment voter pour une marionnette encore plus improbable que monsieur Obama et ceux qui ne s’en rendent pas compte ont, à mon avis, un vrai problème de compréhension du monde qui les entoure.

Fillon : un péché n’est pas un crime
Cela me fait penser à des esclaves qui voteraient avec enthousiasme pour le chaouch qui les garde en bon ordre à grands coups de fouet. Les cinq premières carabistouilles sont à dire vrai d’aimables plaisanteries sans grande conséquences. La sixième est beaucoup plus grave parce qu’elle s’attaque a ce qui constitue l’essence de la volonté de vivre ensemble, c’est-à-dire a la croyance qu’une justice impartiale existe. Détruire cette croyance, c’est détruire la nation et cela peut amener à une guerre civile. Elle consiste à se servir des institutions de l’Etat conquis de haute lutte depuis des décennies pour faire tomber les opposants un peu trop efficaces en se servant de la Justice pour museler de tels hommes avec bien sur la complicité des médias.

Prenons François Fillon qui n’ a rien fait d’illégal mais qui a peut-être fait quelque chose que la majorité de la population considère comme immoral, ce qui n’est pas la même chose. Le rôle de l’Etat est de punir le crime et non le péché, qui ne regarde que la conscience de tout un chacun. Monsieur Fillon a peut-être commis un péché, mais en aucun cas un crime puisque ce qu’il a fait était autorisé par la Loi.

Par contre, si monsieur Hollande et monsieur Macron se sont servis de la justice pour biaiser les résultats de l’élection, alors là, il s’agit certainement d’un crime et ils devraient tous aller en prison si on pouvait le prouver, les juges en premier.

Si la réalité est que l’on poursuit monsieur Fillon en justice, tout en étant certain qu’en fin de compte il y aura un non-lieu une fois l’élection passée et si les media se joignent à la curée puisqu’ils sont tous détenus par des membres éminents de la superclasse, alors on pourra sans doute faire élire le pantin mentionné au paragraphe précédent, en laissant un homme à près honorable brisé avec toute sa famille sur le bord de la route.

Et le peuple deviendra enragé. C’est ce que les journalistes politiques, toujours aux ordres, appellent  » être habile ». Ce n’est en rien être habile. C’est tout simplement être criminel. Le résultat est évident : Si vous voulez faire rire l’assistance dans un café ou dans une réunion vous dites simplement: « moi, je fais confiance à la justice de mon pays« . Et tout le monde de s’écrouler de rire. Et ces rires me terrifient.

Car la Bible, dans les « proverbes » n’a pas de mot trop dur pour le juge inique qui se soumet aux ordres des puissants. Et pour cet homme, ou cette femme, il n’y a pas de pardon possible. Le peuple, depuis un certain temps a parfaitement compris qu’il était manipulé grâce aux techniques allant de un à cinq. Il a tendance à se dire c’est de bonne guerre, je me suis fait avoir et à passer à autre chose.

Mais je suis certain d’une chose : en aucun cas, il ne pardonnera la manipulation criminelle de la justice à des fins aussi basses s’il se rend compte que l’on cherche à l’empêcher de voter pour qui il veut. Ce que je ne sais pas cependant est très important. Cette inéluctable révolte va-t-elle amener le peuple à voter pour monsieur Fillon ou pour madame Le Pen ? Il votera pour madame Le Pen s’il pense que monsieur Fillon fait partie lui aussi de la superclasse.

Et dans ce cas-là, madame Le Pen sera élue. Et les hommes de Davos n’auront que ce qu’ils méritent.